*, 
*::before,
 *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}



body {
    font-family: "Inter", sans-serif;
    /* display: flex;
    justify-content: center; */
    margin: 0;
    background:   #121212;
    font-family: "inter", Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


/* Header & navigation */
.header-container {
    margin-top: 20px;
    width: 1000px;
    height: 230px;
    background-image: url('images/gallery.png');
    background-repeat: no-repeat;
    background-size: cover
}
.header-inner {
    display: flex;
    justify-content: space-around;
    align-items:center;
    color: whitesmoke;
    min-height: 100%;
}

.header-title {
    font-size: 2.95rem;
    font-size: 700
}

.subtitle {
    text-align: right;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke
}

 nav > .nav-items{
    display: flex;
    align-items: center;
}
.nav-link {
    list-style: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    cursor: pointer;
    padding: 0.35em;
    box-shadow: 0.125em 0.125em 0.13em 0.13em whitesmoke;

}   
li {
    list-style: none;
}
nav .link-mode {
    margin-left: -7em;
    font-size: 0.8em
}
.nav-link > a {
    font-family: 'robboto' ;
    text-decoration: none;
}

.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

img,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit
}
h1, h2,
p, h3 {
    overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
    width: 62.5em;
    background: #0e0e0e
}

/* Search movie  */
.searchbar {
    position: relative;
    top: -1.25em;
    display: flex;
    justify-content: center;
}


 .material-icons {
    position: absolute;
    left: 22%;
    top: 23%;
    color: white;
 
  } 


.search-input {
    width: 450px;
    height: 42px;
    background-color: #2e2e2f;
    border-radius: 10px  0 0 10px;
    padding-left: 40px;
    outline: none;
    border: none;
    color: #d5d5d5
}

input::placeholder {
    color: #a5a5a5;
    opacity: 0.5;
}

.search-btn {
    background: #4b4b4b;
    border-radius: 0px 6px 6px 0px;
    height: 42px;
    width: 120px;
    padding-inline: 20px;
    color: whitesmoke;
    outline: none;
    border:none;
    cursor: pointer

}

.image-content,
.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.watchlist-content {
    color: #787878
}

.error-message {
    margin: 2em;
    line-height: 1.2em;
    color:  #787878;
    word-spacing: 0.2em;
}

.image-content.watchlist {
    min-height: 790px;
}

.image-content {
    align-items: center;
    gap:0.625em ;
    color: #48484a;
    min-height: 750px;
}

.watchlist-subheading {
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}



.watchlist-home {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 0.625em
}

/* Movie Container CSS */

.movie-dashboard {
    padding: 1.875em;
    display: flex;
    flex-direction: column;
    gap: 3.125em
}

.movie-inner {
    display: flex;
    gap: 1.875em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid #2c2c2c;
}

.movie-info {
    color: whitesmoke;
   
    gap: 1.25em;
    flex-basis: 100%;
}

.poster-img {
    width: 21.875em;
    height: 21.875em;
}

/* Each Movie CSS */

.movie-title {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 0.625em
}

.title {
    font-size: 1.45rem;
}

.star-icon {
    position : relative;
    right: -0.3125em;
}

.movie-desc {
    gap: 2.5em;
    align-items:center
}
.watchlist-container,
.movie-desc {
    display: flex;
    justify-content: center;
}

.watchlist-container {
    height:1.25em ;
    gap: 0.3125em
}
.plot {
    color: #a5a5a5
}
.add-icon {
    cursor: pointer

}

.added-text {
    color: #52f097;
}


.removed-text {
    color: #f7625f;
  }

.added-text,
.removed-text {
    font-size: 0.8rem;
    font-weight: 700;
    border-style: solid;
    border-radius: 0.625em;
    padding: 0.625em;
    position: fixed;
    inset: 0;
    top: 1.25em;
    width: -moz-fit-content;
    width: fit-content;
    height: min-content;
    opacity: 0;
    z-index: 1;
    margin-inline: auto;
}

  
  .visible {
    opacity: 1;
    transition: opacity 1s linear;
  }

/* Responsive Design */

/* 1. mobile view of < 670px width*/

@media (min-width: 300px) and (max-width:670px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .movie-container {
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        justify-content: center;
        align-items: center;
        /* margin-left: .5em */

    }
    .header-container {
        display: flex;
        width: 350px;
        font-size: .75em;
    }
    .header-title {
        font-size: 2em; /* do sth to find film */
    }    
    .container {
        display: flex;
        flex-direction: column;
        width: 22em;
    }
    .material-icons {
        position: absolute;
        left: 1%;
      
    }
    .movie-inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .movie-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.2em;
        font-size: 1.325em;
    }

    .genre {
        margin: -1.2em;
    }
    .add-icon {
        width: 15%;
        margin-top: 2px;
    }
    .plot {
        margin-top: -1em;
    }
}
